@font-face {
  font-family: 'BlackOps';
  src: local('BlackOps'), url(./assets/fonts/BlackOpsOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Bungee';
  src: local('Bungee'), url(./assets/fonts/Bungee-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Monoton';
  src: local('Monoton'), url(./assets/fonts/Monoton-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
